.products {
    min-height: 100vh;
    width: 100%;
    background-image: url('https://mobirise.com/extensions/floram4/floral-studio/assets/images/background2.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 50px;

    .head {
        width: 100%;
        text-align: center;
        padding: 40px 0;
        color: rgb(35, 111, 93);

        p {
            font-family: 'Crimson Text', serif;
        }

        h2 {
            font-size: 3em;
        }

        button {
            padding: 0 20px;
            border-radius: 8px;
            border: 1px solid rgb(35, 111, 93);
            cursor: pointer;
            font-size: 1.3em;

            &:hover {
                background-color: rgb(35, 111, 93);
                color: white;
                border-color: white;
            }

        }

        input {
            text-align: center;
            margin: 20px 0;
            height: 30px;
            width: 20%;
            border: 1px solid gray;
            border-radius: 8px;
            outline: none;
        }
    }

    .wrapper {
        width: 70%;
        margin: auto;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
        gap: 20px;

        .card {
            width: 31%;
            min-height: 400px;

            &:hover .card-icons {
                transform: translateY(0) !important;
            }

            .img {
                height: 70%;
                overflow: hidden;
                position: relative;

                .card-icons {
                    bottom: 0;
                    left: 0;
                    position: absolute;
                    width: 100%;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    padding: 10px 0;
                    gap: 30px;
                    background-color: rgb(255, 255, 255, 0.6);
                    transform: translateY(70px);
                    transition: all .3s;

                    i {
                        cursor: pointer;
                        color: white;
                        font-size: 1.5em;
                        padding: 10px;
                        background-color: rgb(35, 111, 93);
                        transition: all .3s;

                        &:hover {
                            background-color: white;
                            color: rgb(35, 111, 93);
                        }
                    }
                }

                img {
                    width: 100%;
                }
            }

            .texts {
                height: 30%;
                padding: 20px 0;
                text-align: center;
                color: rgb(35, 111, 93);
            }
        }
    }

}

@media screen and (min-width: 768px) and (max-width: 1024px) {
    .products {
        .wrapper {
            flex-wrap: wrap;

            .card {
                width: 48% !important;
            }
        }
    }
}

@media screen and (max-width: 767px) {
    .products {
        .wrapper {
            width: 90%;
            flex-wrap: wrap;

            .card {
                width: 95% !important;
            }
        }
    }
}